@import 'tailwindcss';
@plugin 'lightswind/plugin';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --animate-slide-right: slideRight 2s ease-out;
  
    @keyframes slideRight {
      0% {
        transform: translateX(-60px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  